<div class="container">
  <h1>New Cocktail</h1>

<div class="form-main">
  <div class="form-container">
  <p>Please update name & photo</p>
  <%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, :label => "Insert a cocktail photo",  as: :file %>
  <%= f.submit class:"btn-ghost new-btn" %>

  <% end %>
  </div>
    <div class="back-button">
    <%= link_to :back do %>
    <i class="fas fa-chevron-left"></i>

    <% end %>
  </div>
  </div>
    <br>

  <br>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
