<div class="home-banner">
 <div class="navbar navbar-lewagon fixed-top">


      <div class="nav-item active">
       <%= link_to "Home", root_path, class: "nav-link" %>
    </div>
     </div>


  <h1> <strong>It's Cocktailicoussssss</strong> </h1>
  <p>
  <span id="banner-typed-text"></span>
</p>


</div>
<div id="center-btn">
 <%=link_to" Create a new cocktail ", new_cocktail_path, :class => "btn btn-ghost" %>
</div>

<!-- <h1 >Browse through your favourite cocktails!</h1> -->
<div class="container">
<div class="cards">

  <%@cocktails.each do |cocktail|%>
  <%if cocktail.photo.attachment.nil? %>
  <div class="card-category" style="background-color:orange">
    <%else%>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
      <% end %>
      <%=link_to cocktail.name, cocktail_path(cocktail) %> | <%=link_to cocktail_path(cocktail), method: :delete,
      data: { confirm: "Do you really want to delete this cocktail?"} do %>
      <i class="far fa-trash-alt"></i>
      <% end %>

    </div>
  <%end%>

</div>
</div>




