<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,500i|Raleway:100,300,400,500,600&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>




    <%= yield %>

</div>

<div class="footer">
  <div class="footer-links">
    <%= link_to "https://github.com/AnnaHerzog", :target => "_blank" do %>
    <i class="fab fa-github"></i>
    <%end%>
     <%= link_to "https://www.facebook.com/annaHerzog92", :target => "_blank" do %>
    <i class="fab fa-facebook"></i>
    <%end%>
       <%= link_to "https://www.linkedin.com/in/annaherzog/", :target => "_blank" do %>
    <i class="fab fa-linkedin"></i>
    <%end%>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> from Berlin.
  </div>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag "application" %>
  </body>
</html>
